@inherits LayoutComponentBase
@inject AuthService Auth
@inject NavigationManager Nav

@if (!requiereLogin)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <span class="text-muted">Escuela de Idiomas Babel</span>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool requiereLogin;

    protected override void OnInitialized()
    {
        requiereLogin = !Auth.IsAuthenticated;
        if (requiereLogin)
            Nav.NavigateTo("/login", forceLoad: true);
    }
}
